*.class
*.dll
*.so
*.gwt-log
*~
.metadata/*
.DS_Store
Thumbs.db
ProgressLog.launch
*/target/
objc/*
html/gwt-unitCache/*
html/war/*
android/assets
android/bin/*
android/.settings
android/gen
ios/assets/*
cmd.exe.lnk
android/pw.txt
java/logging.csv